# Folders in root folder
_imageio-feedstock
_imageio-binaries
_imageio.github.io
_website
htmlcov
build
dist
temp
imageio.egg-info

# Files in root folder
MANIFEST
.coverage
.cache

# Specific folders
imageio/lib
docs/_build
tests/zipped
tests/freezing/frozen
imageio/resources/images
imageio/resources/freeimage

# Files / folders that should always be ignored
__pychache__
*.pyc
*.pyo
*.dll
*.dylib
.*.swp
