# Folders in root folder
_imageio-feedstock
_imageio-binaries
_imageio.github.io
_website
htmlcov
build
dist
temp
imageio.egg-info

# Files in root folder
MANIFEST
.coverage
.cache
.pytest_cache/
.test_images/
coverage.xml
.venv/

# Specific folders
imageio/lib
docs/_build
docs/reference/_backends
docs/reference/_core_29
docs/reference/_core_v3
tests/zipped
tests/freezing/frozen
imageio/resources/images
imageio/resources/freeimage
**/_autosummary/

# Files / folders that should always be ignored
__pychache__
*.pyc
*.pyo
*.dll
*.dylib
.*.swp
*~

# IDE
.idea
.project
.pydevproject
.settings
.vscode
